---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";

let allImages = import.meta.glob("../images/**/*.jpg") as Record<string, () => Promise<{ default: string }>>;

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

let firstPost = blog[0] || null;
let heroImage = (firstPost && firstPost.data.image) ? (
  Object.entries(allImages)
    .find((path) =>
      path[0].includes(firstPost.data.image!.src)
    )
  ) : null;
let heroImageSrc = heroImage ? await heroImage[1]() : null;
// const projects: CollectionEntry<"projects">[] = (
//   await getCollection("projects")
// )
//   .filter((project) => !project.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>

      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <div class="animate">
              {heroImageSrc ? (
                <a href={`/${firstPost.collection}/${firstPost.id}`} class="block">
                  <Picture
                    src={heroImageSrc.default}
                    alt={firstPost.data.image?.alt || ""}
                    width={800}
                    height={400}
                  />
                </a>
              ) : null}
            </div>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent writing
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section> -->

      </div>
    </aside>
  </Container>
</Layout>
