---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import { getCollection } from "astro:content";
import IndexContent from "@content/index-content.mdx";
import SpacerTitle from "@components/SpacerTitle.astro";

let allImages = import.meta.glob("../images/**/*.jpg") as Record<string, () => Promise<{ default: { src: string } }>>;

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

let firstPost = blog[0] || null;
let heroImage = (firstPost && firstPost.data.image) ? (
  Object.entries(allImages)
    .find((path) =>
      path[0].includes(firstPost.data.image!.src)
    )
  ) : null;
let heroImageSrc = heroImage ? await heroImage[1]() : null;

const gallery = (await getCollection("gallery"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

let firstGallery = gallery[0] || null;
let galleryHeroImage = (firstGallery && firstGallery.data.images[0]) ? (
  Object.entries(allImages)
    .find((path) =>
      path[0].includes(firstGallery.data.images[0].src)
    )
  ) : null;
let galleryHeroImageSrc = galleryHeroImage ? await galleryHeroImage[1]() : null;
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>

      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <div class="animate">
              <IndexContent />
            </div>
          </article>
        </section>

        <SpacerTitle title="Recent Posts" />

        <section class="animate space-y-6">
          <ArrowCard entry={blog[0]} backgroundImage={heroImageSrc ? {src: heroImageSrc.default.src} : null}/>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.slice(1).map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <SpacerTitle title="Recent Galleries" />
        
        <section class="animate space-y-6">
          <ArrowCard entry={gallery[0]} backgroundImage={galleryHeroImageSrc ? {src: galleryHeroImageSrc.default.src} : null}/>
          <ul class="not-prose flex flex-col gap-4">
            {
              gallery.slice(1).map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>



      </div>
    </aside>
  </Container>
</Layout>
